# Environment variables
.env

# 忽略整個 data 資料夾及其所有內容
data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Data files (exclude outputs but keep important data files)
# *.csv
#outputs/*.csv
#*.geojson

.tif  
*.tif
*.tiff

*.zip

# Outputs
# outputs/
# *.html
# *.png
# *.jpg

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
